:root {
  
  /* --child-space : calc(20%); */
  --child-space : var(--min-pane-width );
  --min-pane-width : 20%; /* gets hoisted for use in the above line */
  --pane-num:3;
  
}

* {
  box-sizing: border-box;
}

body {
  margin: 0; padding: 0; color: white;
}
.main {
    height: 100vh;
    background-color: green;
}

.pane {
  /* min-height: 100%;
  height: 100%; */
  min-width: 0%;
  max-width: 100%;
  width: calc(50vw - 10px);
  float: left;
  resize: horizontal;
  overflow: auto;

  background: black;
  /* border: 5px solid red; */
}
.pane2 {
  /* min-height: 100%;
  height: 100%; */
  min-width: 0%;
  max-width: 100%;
  width: calc(100%/var(--pane-num)); /* nested */
  float: left;
  resize: horizontal;
  overflow: auto;

  background: black;
  /* border: 5px solid red; */
}

#parent {
  /* resize:none;
  width: 100%;
  max-width: 100%;
  min-width: calc( var(--child-space) * 4); /* 3 represents the number of children + this element, so each of them have equal width */
}

#child {
  background-color: blue;
}

#child2 {
    background-color: purple;
}

#child3 {
    background-color: red;
}

#parent {
  max-width: 300px;
  max-height: 20px;
  text-align: right;
  overflow: hidden;
}

.inside {
    float: left;
    resize: horizontal;
    overflow:auto;
    /* max-width: 25%; */
    /* min-width: var(--child-space); */
}

#second {
  /* float:right; */
}